body {
  background-color: #e6c4c0;
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 4.625rem;
  font-weight: normal;
  margin: 70px auto 0 auto;
  color: #962d2d;
}

h2 {
  color: #962d2d;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #962d2d;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}

a {
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #ff449f;
  font-weight: bold;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

hr {
  margin-top: 2.1875rem;
  margin-bottom: 2.1875rem;
  border-style: none;
  border-bottom-style: dotted;
  border-width: 0.4375rem;
  border-bottom-color: #962d2d;
  width: 8rem;
}

.top-container {
  padding-top: 2rem;
}

.middle-container {
  width: 90rem;
  margin: 0 19rem 0 19rem;
}

.forest {
  width: 60rem;
  height: 22rem;
}

.Yoga-Pose1 {
  height: 4.6rem;
  width: 4.6rem;
  position: absolute;
  right: 75rem;
  top: 22rem;
}

.Yoga-Pose2 {
  height: 3.6rem;
  width: 3.6rem;
  position: absolute;
  right: 70.75rem;
  top: 20rem;
}

.Yoga-Pose3 {
  height: 2.6rem;
  width: 2.6rem;
  position: absolute;
  right: 80rem;
  top: 19rem;
}

.dog1 {
  height: 3.6rem;
  width: 3.6rem;
  position: absolute;
  right: 72rem;
  top: 66rem;
}

.Sauna {
  height: 3.3rem;
  width: 3.3rem;
  position: absolute;
  right: 52rem;
  top: 66rem;
}

.movie {
  height: 3.3rem;
  width: 3.3rem;
  position: absolute;
  right: 62rem;
  top: 66rem;
}

.garden {
  height: 2.6rem;
  width: 2.6rem;
  position: absolute;
  right: 51.75rem;
  top: 21rem;
}

.garden1 {
  height: 3.5rem;
  width: 3.5rem;
  position: absolute;
  right: 59rem;
  top: 22rem;
}

.garden2 {
  height: 1.8rem;
  width: 1.8rem;
  position: absolute;
  right: 88rem;
  top: 20rem;
}

.art {
  height: 2.6rem;
  width: 2.6rem;
  position: absolute;
  right: 45rem;
  top: 19rem;
}

.footer-link {
  background-color: #ca8a8b;
  display: block;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  width: 128rem;
  height: 27.5rem;
}

.footer-link1 {
  background: #f4a9a8;
  background-image: -webkit-linear-gradient(top, #f4a9a8, #f4a9a8);
  background-image: -moz-linear-gradient(top, #f4a9a8, #f4a9a8);
  background-image: -ms-linear-gradient(top, #f4a9a8, #f4a9a8);
  background-image: -o-linear-gradient(top, #f4a9a8, #f4a9a8);
  background-image: linear-gradient(to bottom, #f4a9a8, #f4a9a8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #962d2d;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.footer-link1:hover {
  background: #e6c4c0;
  background-image: -webkit-linear-gradient(top, #e6c4c0; , #e6c4c0; );
  background-image: -moz-linear-gradient(top, #e6c4c0; , #e6c4c0; );
  background-image: -ms-linear-gradient(top, #e6c4c0; , #e6c4c0; );
  background-image: -o-linear-gradient(top, #e6c4c0; , #e6c4c0; );
  background-image: linear-gradient(to bottom, #e6c4c0; , #e6c4c0; );
  text-decoration: none;
}

.footer-link2 {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 10px 20px;
}

.copyright {
  line-height: 2;
  font-size: 0.75rem;
}
