body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #F9F3F3;
  width: 128rem;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #ff449f;
  font-weight: bold;
}

hr {
  border-style: none;
  border-bottom-style: dotted;
  border-width: 0.5rem;
  width: 8rem;
  border-color: #F25287;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 4.625rem;
  font-weight: normal;
  color: #F25287;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  margin: 0;
  color: #F25287;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #F25287;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}

table {
  margin: 0 auto;
  position: relative;
  text-align: left;
}


.top-container {
  position: relative;
  top: 2rem;
  width: 128rem;
  height: 27rem;
}


.middle-container {
  position: relative;
  background-color: #F9F3F3;
  width: 128rem;
}

.bottom-container {
  position: relative;
  background-color: #DDDDDD;
  margin-bottom: 0;
  height: 23.5rem;
  width: 128rem;
}


.forest {
  width: 60rem;
  height: 22rem;
}

.pig {
  height: 2.6rem;
  width: 2.6rem;
  position: absolute;
  right: 48rem;
  top: 17rem;
}

.skill-row {
  width: 50%;
  margin: 0.4rem auto 4.25rem auto;
}

.skill-row-table {
  width: 70%;
  margin: 70px auto 35px auto;
  color: #F25287;
  font-size: 1.125rem;
}

.Profile-Picture {
  position: absolute;
  height: 8.875rem;
  width: 8.875rem;
  right: 37rem;
  top: 1.5rem;

}

.laptop {
  height: 4.7rem;
  width: 4.7rem;
}

.acrobatic {
  height: 3.125rem;
  width: 3.125rem;
}

.juggler {
  height: 4.7rem;
  width: 4.7rem;
}

.footer-link1 {
  background: #F25287;
  background-image: -webkit-linear-gradient(top, #e89de4, #e89de4);
  background-image: -moz-linear-gradient(top, #e89de4, #e89de4);
  background-image: -ms-linear-gradient(top, #e89de4, #e89de4);
  background-image: -o-linear-gradient(top, #e89de4, #e89de4);
  background-image: linear-gradient(to bottom, #F25287, #F25287);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #e4bad4;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.footer-link1:hover {
  background: #867AE9;
 background-image: -webkit-linear-gradient(top, #867AE9, #867AE9);
 background-image: -moz-linear-gradient(top, #867AE9, #867AE9);
 background-image: -ms-linear-gradient(top, #867AE9, #867AE9);
 background-image: -o-linear-gradient(top, #867AE9, #867AE9);
 background-image: linear-gradient(to bottom, #867AE9, #867AE9);
 text-decoration: none;
}


.footer-link2 {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link3 {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  text-decoration: none;
}

.copyright {
  line-height: 2;
  font-size: 0.75rem;
}
